@font-face {
    font-family: 'sporting_grotesquenormal';
    src: url('../../fonts/SportingGrotesque/sporting_grotesque_normal-webfont.woff2') format('woff2'),
         url('../../fonts/SportingGrotesque/sporting_grotesque_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sk-modernist';
    src: url('../../fonts/modernist/sk-modernist-regular-webfont.woff2') format('woff2'),
         url('../../fonts/modernist/sk-modernist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: var(--text-headings);
}

// p, span {
//     font-weight: 300;
// }

h1 {
    margin-top: var(--spacer-xxl);
    margin-bottom: var(--spacer-xl);
    font-size: var(--font-size-2xl); 
}

h2 {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
    font-size: var(--font-size-xl);
}

h3 {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
    font-size: var(--font-size-large);

}

@include for-tablet-portrait-up {
    h1 {
        margin-top: var(--spacer-xxl);
        margin-bottom: var(--spacer-xl);
        font-size: var(--font-size-3xl); 
    }
    
    h2 {
        margin-top: var(--spacer-xl);
        margin-bottom: var(--spacer-xl);
        font-size: var(--font-size-2xl);
    }
    
    h3 {
        margin-top: var(--spacer-xl);
        margin-bottom: var(--spacer-xl);
        font-size: var(--font-size-xl);
    
    }
}