.archive__list {
    column-fill: initial;
    column-count: 1;
    column-gap: 40px;
}

.archive__item {
    // outline: greenyellow solid 1px;
    margin-bottom: var(--spacer-regular);
}

.archive__item img {
    width: 100%;
    border-radius: 1rem;
}

.archive__item a {
    color: var(--color-on-bg);
    text-decoration: none;
}

.archive__item h3 {
    margin: var(--spacer-xs) 0 20px 0;
    font-size: var(--font-size-xl);
}

.archive__item .subtitle {
    // text-transform: uppercase;
    opacity: 0.7;
    font-size: var(--font-size-large);
    max-width: 80%;
    line-height: var(--font-size-large);
}

@include for-tablet-portrait-up {
    .archive__list {
        column-fill: initial;
        column-count: 2;
        column-gap: 40px;
    }

    .archive__item.offset {
        padding-top: var(--spacer-regular);
    }

    .see-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: var(--spacer-xl) 0;

        & a {
            font-size: var(--font-size-xl);
            color: var(--color-on-bg);
            text-decoration: underline;
            text-decoration-style: wavy;
            text-decoration-color: var(--color-accent);
            text-decoration-skip-ink: none;

        }
    }

}