html, body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-on-bg);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
    font-family: var(--font-family-sans);
    letter-spacing: -0.8px;
}

main {
    margin: 0 var(--spacer-xs);
}

@include for-tablet-portrait-up {
    main {
        margin: 0 var(--spacer-large);
    }
}