footer {
    margin-top: var(--spacer-xxl);
    padding-bottom: var(--spacer-large);
}

footer a {
    text-decoration: none;
    color: var(--color-on-bg);
}

footer .footer__labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: var(--color-on-bg) solid 1px;
    font-size: var(--font-size-small);
}

footer .footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacer-sm) 0;

    font-size: var(--font-size-xl);

}