/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Breakpoints */
@font-face {
  font-family: "sporting_grotesquenormal";
  src: url("../../fonts/SportingGrotesque/sporting_grotesque_normal-webfont.woff2") format("woff2"), url("../../fonts/SportingGrotesque/sporting_grotesque_normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sk-modernist";
  src: url("../../fonts/modernist/sk-modernist-regular-webfont.woff2") format("woff2"), url("../../fonts/modernist/sk-modernist-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--text-headings);
}

h1 {
  margin-top: var(--spacer-xxl);
  margin-bottom: var(--spacer-xl);
  font-size: var(--font-size-2xl);
}

h2 {
  margin-top: var(--spacer-xl);
  margin-bottom: var(--spacer-xl);
  font-size: var(--font-size-xl);
}

h3 {
  margin-top: var(--spacer-xl);
  margin-bottom: var(--spacer-xl);
  font-size: var(--font-size-large);
}

@media (min-width: 640px) {
  h1 {
    margin-top: var(--spacer-xxl);
    margin-bottom: var(--spacer-xl);
    font-size: var(--font-size-3xl);
  }
  h2 {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
    font-size: var(--font-size-2xl);
  }
  h3 {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
    font-size: var(--font-size-xl);
  }
}
:root {
  --color-primary: #000;
  --color-secondary: rgba(255, 255, 255, 0.9);
  --color-accent: #f53c20;
  --color-bg: var(--color-primary);
  --color-on-bg: var(--color-secondary);
  --color-success: #00d13c;
  --color-alert: #FE1B00;
  --color-warning: #ffcd29;
  /* Fonts */
  /* https://typescale.com/ */
  --font-size-small: 12px;
  --font-size-regular: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xl: 2.25rem;
  --font-size-2xl: 3.375rem;
  --font-size-3xl: 5.063rem;
  --font-size-4xl: 7.594rem;
  --font-family-sans: "Inter";
  --font-family-serif: "Zodiak-Regular";
  --font-family-mono: "disket_monoregular";
  --text-body: var(--font-family-sans);
  --text-headings: var(--font-family-sans);
  --spacer-xs: 40px;
  --spacer-sm: 50px;
  --spacer-regular: 80px;
  --spacer-large: 100px;
  --spacer-xl: 120px;
  --spacer-xxl: 200px;
}
@media (max-width: 640px) {
  :root {
    --spacer-xs: 20px;
    --spacer-sm: 30px;
    --spacer-regular: 40px;
    --spacer-large: 100px;
    --spacer-xl: 60px;
    --spacer-xxl: 120px ;
  }
}

html, body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-on-bg);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
  font-family: var(--font-family-sans);
  letter-spacing: -0.8px;
}

main {
  margin: 0 var(--spacer-xs);
}

@media (min-width: 640px) {
  main {
    margin: 0 var(--spacer-large);
  }
}
header {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 48px var(--spacer-xs) 0 var(--spacer-xs);
}
@media (min-width: 640px) {
  header {
    padding: 48px var(--spacer-large) 0 var(--spacer-large);
  }
}

header a, button {
  color: var(--color-on-bg);
  text-decoration: none;
  font-size: var(--font-size-regular);
  transition: opacity 0.5s ease;
}
header a:hover, button:hover {
  opacity: 0.5;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: solid 1.5px var(--color-on-bg);
  border-bottom: solid 1.5px var(--color-on-bg);
}

.navigation {
  display: none;
}

#menu {
  display: block;
  background-color: transparent;
  border: none;
  color: var(--color-on-bg);
}

.mobile-menu {
  outline: red solid 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  outline: greenyellow solid 1px;
}
.mobile-menu header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  outline: red solid 1px;
  padding: var(--spacer-xs) 0;
}
.mobile-menu header button {
  background-color: transparent;
  border: none;
  color: var(--color-on-bg);
}
.mobile-menu footer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.mobile-menu footer a {
  font-size: var(--font-size-xl);
  margin: 24px 0;
}

.mobile-menu li {
  display: inline-block;
  margin: var(--spacer-xs) 0;
  padding-bottom: 24px;
  border-bottom: var(--color-on-bg) solid 1px;
  width: 100%;
}

.mobile-menu li a {
  color: var(--color-on-bg);
  text-decoration: none;
  font-size: var(--font-size-2xl);
}

@media (min-width: 640px) {
  #menu {
    display: none;
  }
  .navigation {
    display: flex;
  }
  header nav ul {
    display: flex;
  }
  header nav li {
    margin: 0 10px;
  }
  header nav li:last-of-type {
    margin-right: 0;
  }
}
.archive__list {
  column-fill: initial;
  column-count: 1;
  column-gap: 40px;
}

.archive__item {
  margin-bottom: var(--spacer-regular);
}

.archive__item img {
  width: 100%;
  border-radius: 1rem;
}

.archive__item a {
  color: var(--color-on-bg);
  text-decoration: none;
}

.archive__item h3 {
  margin: var(--spacer-xs) 0 20px 0;
  font-size: var(--font-size-xl);
}

.archive__item .subtitle {
  opacity: 0.7;
  font-size: var(--font-size-large);
  max-width: 80%;
  line-height: var(--font-size-large);
}

@media (min-width: 640px) {
  .archive__list {
    column-fill: initial;
    column-count: 2;
    column-gap: 40px;
  }
  .archive__item.offset {
    padding-top: var(--spacer-regular);
  }
  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacer-xl) 0;
  }
  .see-more a {
    font-size: var(--font-size-xl);
    color: var(--color-on-bg);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-accent);
    text-decoration-skip-ink: none;
  }
}
@media (max-width: 640px) {
  .intro p, span {
    font-size: var(--font-size-large);
    margin: 24px var(--spacer-sm) 24px 0;
  }
  .intro__contact {
    display: none;
  }
  .intro img {
    width: 100%;
    border-radius: 1rem;
  }
  .skills__item {
    display: flex;
    flex-direction: column;
    margin: var(--spacer-sm) 0;
  }
  .skills__description h4 {
    border-bottom: var(--color-on-bg) 1px solid;
    padding: 24px 0;
    margin-bottom: var(--spacer-sm);
    text-transform: uppercase;
  }
  .skills__description p {
    font-size: var(--font-size-large);
  }
  .skills__list {
    margin: var(--spacer-sm) 0;
  }
  .skills__list h4 {
    display: none;
  }
  .skills__list li {
    margin: 10px 0;
  }
}
@media (min-width: 640px) {
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .intro > div p {
    font-size: var(--font-size-xl);
    max-width: 785px;
    margin: 24px var(--spacer-sm) 24px 0;
  }
  .intro__contact {
    width: 1000px;
    margin: var(--spacer-xs) var(--spacer-sm) 24px 0;
    display: flex;
    flex-direction: column;
  }
  .intro__contact span {
    width: 1000px !important;
    font-size: var(--font-size-xl);
    margin: 24px var(--spacer-sm) 0 0;
  }
  .intro img {
    display: none;
  }
  .skills {
    margin: var(--spacer-xl) 0;
  }
  .skills__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: var(--spacer-large) 0;
  }
  .skills__description {
    width: 100%;
    margin-right: var(--spacer-sm);
  }
  .skills__description h4 {
    border-bottom: var(--color-on-bg) 1px solid;
    padding: 24px 0;
    margin-bottom: var(--spacer-sm);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: 300;
  }
  .skills__description p {
    font-size: var(--font-size-xl);
    max-width: 600px;
  }
  .skills__list {
    width: 30%;
  }
  .skills__list h4 {
    border-bottom: var(--color-on-bg) 1px solid;
    padding: 24px 0;
    margin-bottom: var(--spacer-sm);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: 300;
  }
  .skills__list li {
    margin: 10px 0;
    opacity: 0.7;
    font-size: var(--font-size-regular);
  }
}
@media (min-width: 1536px) {
  .intro img {
    width: auto;
    border-radius: 1rem;
    transform: rotate(5deg);
    display: block;
  }
}
footer {
  margin: 48px var(--spacer-xs) 0 var(--spacer-xs);
  border-top: solid 1px var(--color-on-bg);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin: var(--spacer-xs) 0;
}
.footer__links a, .footer__links ul li {
  font-size: var(--font-size-large);
  text-decoration-color: var(--color-accent);
  color: var(--color-on-bg);
}
.footer__links ul li {
  text-align: right;
  margin: 10px 0;
}

.footer__links a:first-child {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacer-xs);
}

.footer__links ul li {
  text-align: left;
}

.footer__labels {
  display: none;
}

@media (min-width: 640px) {
  footer {
    margin: var(--spacer-large) 0;
    border-top: none;
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  footer {
    padding: 48px var(--spacer-large) 0 var(--spacer-large);
  }
}
@media (min-width: 640px) {
  .footer__labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--color-on-bg);
    padding: 24px 0;
  }
  .footer__labels span {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: 300;
  }
}
@media (min-width: 640px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: var(--spacer-xs) 0;
  }
  .footer__links a, .footer__links ul li {
    font-size: var(--font-size-xl);
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
    color: var(--color-on-bg);
  }
  .footer__links ul li {
    text-align: right;
    margin: 10px 0;
  }
}
@media (min-width: 640px) {
  .footer__links a:first-child {
    font-size: var(--font-size-xl);
    margin-bottom: 0;
  }
}
.single__infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: var(--spacer-xl) 0;
}

.infos {
  max-width: 500px;
}

.infos h4 {
  font-size: var(--font-size-small);
  padding: 24px 0;
  border-bottom: solid 1px var(--color-on-bg);
  margin: var(--spacer-xs) 0;
  text-transform: uppercase;
}

.infos ul {
  display: flex;
  list-style: disc;
  flex-wrap: wrap;
}

.infos ul li {
  margin: 12px;
}

#single img {
  width: 100%;
}

.link {
  color: var(--color-accent);
}

/*# sourceMappingURL=app.css.map */
